.mainpage {
  font-size: calc(10px + 2vmin);
  color: lightgreen;
  
  .testSlogan {
    color: coral;

    .linc {
      font-size: small;
      
      &.blue {
        color: lightblue;
      }

    }
  }
}

