.mainpage {
  width: 90%;
  height: 90vh;
  font-size: calc(10px + 1vmin);
  display: flex;
  // align-items: center;
  justify-content: space-between;

  .panel {
    width: 40%;
    background-color: rgba(255, 255, 255, 0.064);

    &.tests {
      .testUl {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        .testLi {
          width: 100%;
          display: flex;
          align-items: center;
          padding: 8px;
          .testName {
            color: lightblue;
            width: 90%;
            font-size: calc(5px + 1vmin);
          }
          .success {
            color: lightgreen;
            height: 15px;
          }
          .fail {
            color: coral;
            height: 15px;
          }
        }
      }       
    }

    &.logs {
      padding: 8px;
      font-size: 14px;
      height: 100%;
      overflow-y: auto;

      scrollbar-width: 4px;
      scrollbar-color:#42454d #656b75;
      &::-webkit-scrollbar { width: 4px; }
      &::-webkit-scrollbar-track { background: #656b75; }
      &::-webkit-scrollbar-thumb { background-color: #42454d; }      

      .terminal-line {
        position: relative;
        color: green;
        font-family: monospace;

        &:last-child {
          &::after {
            position: absolute;
            display: inline-block;
            content: '';
            // bottom: .2em;
            // margin-left: .2em;
            width: .6em;
            height: 1em;
            background-color: green;
            animation: animate 1.3s linear infinite;
          }          
        }


      }
      
    }
   
  }

  @keyframes animate {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 0;
    }
  }

}
